<div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <h1>Learn by Doing</h1>
                    <h1>Learn by Teaching</h1>

                </div>
                <div class="col-md-6"> 
                    <p>Find People to Pair Program With</p>
                    <p>Learn from Mentors</p>
                    <p>Find a Venture to Work On</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>