
<div class="level_explanation">
<h3><%= "The following is the most important question!" %></h3>
  <p><strong> Hello, World </strong> = have not started </p> 
  <p><strong> Noob </strong> = Cannot build application, actively learning </p>
  <p><strong> Lorem Ipsum </strong> = Need alot of help to build full application </p>  
  <p><strong>Deploy </strong> = Can build full working application with help </p>
  <p><strong>Contribute </strong>= Can build full working application without help </p>
  <p><strong> Scale </strong> = Could build full, SECURE, well-documented, natural flowing app deployed w/o bugs and W/O using plugins </p>
</div>
  <%= f.collection_select(:minimum_skill_ids, MinimumSkill.all, :id, :themin, {prompt: '-Select-'},  {:class=>"form-control multiselect multiselect-icon"}) %>  

